#drawing_area {
    background-color: white;
}

#ruler_x {
    background-color: white;
}

#ruler_y {
    background-color: white;
}

#spin_width, #spin_height, #spin_center_x, #spin_center_y, #spin_center_z {
    background-color: #f5f5f5;
    color: black;
}

#btn_create_ok {
    background-color: lightgreen;
    color: black;
}

#btn_create_cancel {
    background-color: lightcoral;
    color: black;
}

#btn_export_ok {
    background-color: lightgreen;
    color: black;
}

#btn_export_cancel {
    background-color: lightcoral;
    color: black;
}

#btn_import_ok {
    background-color: lightgreen;
    color: black;
}

#btn_import_cancel {
    background-color: lightcoral;
    color: black;
}

#spin_prob_oh, #spin_prob_o {
    background-color: #f5f5f5;
    color: black;
}

#btn_prob_ok {
    background-color: lightgreen;
    color: black;
}

#btn_prob_cancel {
    background-color: lightcoral;
    color: black;
}
